<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCzEa7M2aDYZIMvQd8YDqs0QDs4MRCb1ag</string>
	<key>GCM_SENDER_ID</key>
	<string>272147917962</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.trainwithsomeone</string>
	<key>PROJECT_ID</key>
	<string>trainingpartners</string>
	<key>STORAGE_BUCKET</key>
	<string>trainingpartners.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:272147917962:ios:a5223a1b85ab3883589173</string>
</dict>
</plist>